html(lang='en')
	head
		meta(http-equiv='X-UA-Compatible' content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		meta(name='description', content='')
		meta(name='author', content="")

		link(rel='stylesheet', type='text/css', href='/bower_components/bootstrap/dist/css/bootstrap.min.css')
		
		link(rel='stylesheet', type='text/css', href='/css/main.css')
		
		title CrowdBox | #{title}
		
		block localCSS
			
	body
		
		block content
			
		
		
		//- Javascript
		script(type="text/javascript", src='/bower_components/jquery/dist/jquery.min.js')
		script(type="text/javascript", src='/bower_components/bootstrap/dist/js/bootstrap.min.js')
		
		script(type="text/javascript", src='/js/main.js')
		
		block localJS
	