extend ../layout
block content
	h1 Sign In
	form.form-horizontal(name='signin', method='post', action='/signin_post', role='form')
		.form-group
			label(for="email") Email:
			input.form-control(type="text", name='email', placeholder="Email")
		.form-group
			label(for="password") Password:
			input.form-control(type="password", name='password', placeholder="Password")
		button.btn.btn-default(name='submit', type='submit') Submit
		
block localJS
	script(type="text/javascript", src='/js/public/signin.js')